<div class="wrapper">
    <form [formGroup]="firstForm" (ngSubmit)="registrate()" *ngIf="registrationNeeded" class="first-form">
        <div class="first-form__first-block">
            <mat-form-field *ngFor="let e of registrationElements; let i = index" appearance="fill" class="first-form-field">
                <mat-label>Enter your {{registrationElementsCopy[i]}}</mat-label>
                <input 
                matInput 
                [type]="registrationElementsCopy[i]==='password'? 'password': 'text'" 
                [placeholder]="registrationElementsCopy[i]" 
                [formControl]="fName(registrationElementsCopy[i])" 
                required
                >
                <mat-error *ngIf="e.invalid">{{getErrorMessage(e)}}</mat-error>
            </mat-form-field>
        </div>
        <div class="first-form__last-block">
            <button mat-raised-button color="primary" (click)="sendData()" class="send-btn" [disabled]="firstForm.invalid">registrate</button>
            <div class="back-btn" (click)="back()"><img src="https://img.icons8.com/carbon-copy/2x/back.png" style="width: 100%; height: 100%;"></div>
        </div>
    </form>
    <form [formGroup]="secondForm" (ngSubmit)="login(this.secondForm.value)" class="second-form" *ngIf="!registrationNeeded">
        <mat-form-field *ngFor="let e of loginElements; let i = index" appearance="fill" class="second-form-field">
            <mat-label>Enter your {{loginElementsCopy[i]}}</mat-label>
            <input 
            matInput 
            [type]="registrationElementsCopy[i]==='password'? 'password': 'text'" 
            [placeholder]="loginElementsCopy[i]" 
            [formControl]="sName(loginElementsCopy[i])"
            >
            <mat-error *ngIf="e.invalid">{{getErrorMessage(e)}}</mat-error>
        </mat-form-field>
        <button type="submit" class="button login-btn" [disabled]="secondForm.invalid">LOGIN</button>
        <button (click)="registrateBtnClicked()" class="button registrate-btn">REGISTRATE</button>
    </form>
</div>
<div *ngFor="let u of users">{{u.username}}</div>
