
.example-container {
  width: 100%;
  min-height: 83%;
  
}
.user-list {
  width: 30%;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../../../../assets/images/avatar.jpg');
  background-size: cover;
}
.example-header-second-image {
  background-image: url('../../../../assets/images/avatar2.jpg');
  background-size: cover;
}

.no-content {
  text-align: center;
  margin-top: 20%;
  font-size: 28px;
  line-height: 28px;
}
.album-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.album {
  max-width: 350px;
  margin-bottom: 10px;
}
.album img {
  margin-top: 5px;
}