.main {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    height: 60%;
    width: 18%;
    color: white;
    background-color: #213d4b;
    font-size: 100%;
    margin-left: 41%;
    font-family: sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    border-radius: 2px;
}
.title {
    padding: 4% 0 0 5%;
    font-size: 70%;
}
.top-block {
    display: flex;
    width: 100%;
}
.top-block-hide {
    margin-left: auto;
}
.top-block button {
    background-color: #213d4b;
    width: 14%;
    font-size: 100%;
}
.top-block button:hover {
    background-color: rgba(226, 224, 215, 0.158);
}

.xButton:hover {
    background-color: rgba(255, 0, 0, 0.644) !important;
}
.second-block {
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
}
.ham {
    height: 90%;
    margin-left: 3%;
    padding: 2px;
}
.icons {
    height: 100%;
}
.st-text {
    margin-left: 4%;
    font-size: 100%;
}
.his {
    margin-left: auto;
    margin-right: 3%
}
.his:hover, .ham:hover, .remove-btn:hover {
    background-color: rgba(226, 224, 215, 0.158);
}
.mini-display {
    text-align: right;
    padding: 0 5%;
    color: rgba(255, 255, 255, 0.555);
}
.display {
    text-align: right;
    margin-top: auto;
    padding: 0 5%;
    font-size: 200%;
    margin-bottom: 2%;
}
.memory-block {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 70%;
}
.mBlock-detail {
    width: 16.5%;
    margin-left: 1%;
    text-align: center;
    padding: 2% 0;
    flex: 1 0 15%;
}
.mBlock-detail:hover {
    background-color: rgba(226, 224, 215, 0.158);
}
.numbers-and-operations-block {
    height: 62%;
    margin-top: 2%;
}
.symbols {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.detail {
    flex: 1 1 21%;
    margin-left: 1px;
    margin-bottom: 1px;
}
.number {
    background-color: #070c0f;
    font-size: 130%;
    width: 100%;
}
.notNumber {
    background-color: #13252f;
    width: 100%;
    font-size: 100%;
}
.equalButton {
    background-color: #2d99f1;
    font-size: 100%;
    width: 100%;
}
.equalButton:hover {
    background-color: #6ab0e9;
}
button {
    color: white;
    border: none;
    height: 100%;
    cursor: default;
}
button:hover {
    background-color: #070c0fab;
}
button:focus {outline:0;}
.history {
    background-color: #13252f;
    display: flex;
    flex-direction: column;
    padding-right: 5%; 
    padding-bottom: 4%;
}
.history-items {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.history-items-operation {
    color: rgba(255, 255, 255, 0.555);
}
.result {
    font-size: 140%;
    font-weight: bold;
}
.remove-btn {
    height: 10%;
    margin-top: auto;
    margin-left: auto;
}
