<div style=" height: 100vh;">
    <div class="main">
        <div class="top-block">
            <div class="title">CALCULATOR</div>
            <button class="top-block-hide">–</button>
            <button>☐</button>
            <button class="xButton">×</button>
        </div>
        <div class="second-block">
            <div class="ham"><img class="icons" src="../../../assets/images/hamburger-icon.png"></div>
            <span class="st-text">Standard</span>
            <div class="ham his" (click)="historyIconClicked()">
                <img class="icons" src="../../../assets/images/history-icon.png">
            </div>
        </div>
        <div class="mini-display">
            {{this.miniDisplay}}
        </div>
        <div class="display">
            {{this.display}}
        </div>
        <div class="memory-block">
            <div class="mBlock-detail" (click)="clickedMemoryButton($event)" *ngFor="let m of mSymbols">
                <button class="mBlock-detail__button">{{m}}</button>
            </div>
        </div>
        <div class="numbers-and-operations-block" *ngIf="!showHistory">
            <div class="symbols">
                <div class="detail" *ngFor="let s of symbols">
                    {{changeNumbersColor(s)}}
                    
                    <button class="number" *ngIf="numberFound" (click)="clickedNumber($event)">
                        {{s}}
                    </button>
                    <button class="notNumber" *ngIf="!numberFound && !equalFound" (click)="clickedOperation($event)">
                        {{s}}
                    </button>
                    <button class="equalButton" *ngIf="equalFound" (click)="clickedOperation($event)">{{s}}</button>
                </div>
            </div>
        </div>
        <div *ngIf="showHistory" class="numbers-and-operations-block history">
            <div *ngIf="this.results.length!==0" style="overflow:auto; margin-bottom: 0.5%;">
                <div class="history-items" *ngFor="let h of histories; let i = index">
                    <div class="history-items-operation">{{h}}</div>
                    <div class="result">{{results[i]}}</div>
                </div>
            </div>
            <div style="margin: 4% 0 0 4%" *ngIf="this.results.length===0">
                Журнала еще нет
            </div>
            <div *ngIf="this.results.length!==0" class="remove-btn" (click)="removeHistory()"><img class="icons" src="../../../assets/images/delete.png"></div>
        </div>
    </div>
</div>